<html>
  <head></head>
  <body>
    <h1>User Management</h1>
    <form action="/createUser" method="POST">
      <input type="text" name="username" id="username">
      <button>Create</button>
    </form>
  </body>
</html>